
ion-tab-button.notif-tab {
	position: relative;
}

.tab-badge {
	display: flex;
	position: absolute;
	top: 6px;
	right: 18px;
	min-width: 18px;
	height: 18px;
	padding: 0 5px;
	border-radius: 999px;
	font-size: 11px;
	line-height: 18px;
	justify-content: center;
	align-items: center;
}
