<ion-tabs>
  <ion-router-outlet [animated]="false"></ion-router-outlet>

  <ng-container *ngIf="role$ | async as role">
  <ion-tab-bar slot="bottom" *ngIf="(showTabBar$ | async)">
    
    <ion-tab-button *ngIf="role === 'passenger'" tab="trips" href="/app/trips">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar Viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="role === 'driver'" tab="my-trips" href="/app/my-trips">
      <ion-icon name="list"></ion-icon>
      <ion-label>Mis Viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="role === 'driver'" tab="publish" href="/app/publish">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/app/notifications" class="notif-tab">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge
        *ngIf="(unreadCount$ | async) as c"
        class="tab-badge"
        color="danger"
        [style.display]="c > 0 ? 'inline-flex' : 'none'"
      >
        {{ c }}
      </ion-badge>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  </ng-container>
</ion-tabs>
